
.heading{
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(46, 51, 55);
    color: white;
    
}

.lists{

border: 1px solid grey;
border-radius: 2px;
color: grey;
width: 25px;
height: 25px;
padding: 3px;
font-size: 25px;
cursor: pointer;

}

.logo{

cursor: pointer;

}

.main1{

    text-align: center;
    margin-top: 90px;

}

h1{

    font-family: sans-serif;  

}

.para1{

    font-family: sans-serif;
    color: grey;

}

.button{

    display: flex;
    margin-left: 510px;

}

.button1{
    border: 1px solid rgb(2, 128, 255);
    border-radius: 2px;
    background-color: rgb(2, 128, 255);
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    margin: 2px;
    width: 120px;
    height: 25px;
    padding-top: 8px;
    cursor: pointer;
}


.button1:hover{

    background-color: rgb(3, 114, 226);
}





.button2{
    border: 1px solid grey;
    border-radius: 2px;
    background-color: grey;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    margin: 2px;
    width: 120px;
    height: 25px;
    padding-top: 8px;
    cursor: pointer;
}


.button2:hover{

    background-color: rgb(119, 111, 111);
}

.main2{

    background-color: aliceblue;

}

.cart{

    margin-left: 130px;
   

}

.card-row1{
    display: flex;
    margin: 10px;
    
}



.cards{

    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    height: 320px;
    background-color: white;
    margin: 10px;

}

.Thumbnail{

border: 1px solid grey;
border-radius: 2px;
height: 100px;
background-color: rgb(74, 72, 72);
color: white;
font-family: sans-serif;
font-size: 25px;
padding-top:90px;
padding-left: 80px;

}

.paras{

text-align: center;
font-family: sans-serif;

}


.btn-3{
    display: flex;
    justify-content: space-between;

}


.big-btn{

    display: flex;
    border: 1px solid grey;
    border-radius: 2px;
    width: 65px;
    margin-left: 10px;

}

.v-btn{

    border: 1px solid grey;
    color: grey;
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px;
    cursor: pointer;

}

.v-btn:hover{

color: white;
background-color: grey;

}

.e-btn{

    border: 1px solid grey;
    color: gray;
    width: 35px;
    font-size: 14px;
    font-family: sans-serif;
    padding: 2px;
    cursor: pointer;

}

.e-btn:hover{

color: white;
background-color: grey;

}



.time{

    margin-right: 5px;
    color: gray;
    font-family: sans-serif;

}


footer{

    display: flex;
    justify-content: space-around;
    margin: 30px;

}

a{
    text-decoration: none;
    cursor: pointer;
}